<h3>Welcome to Node-Elearn</h3>
<p>
	Node-ELearn is a simple and free online learning platform built on Node. Instructors can create courses and students can register for courses which include assignments, quizes and support forums.
</p>
<a class="button" href="/users/signup">Sign Up Free</a>
<P>You need to signup to register for free classes</p>